@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #6666ff;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #fff;
  width: 50%;
  padding: 2rem 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.box p {
  padding: 1rem;
}

.box button {
  font-weight: 600;
  padding: .7rem .8rem;
  background: #6666ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .1s linear;
}

.box button:active {
  transform: scale(0.97);
}